{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="login-container">
            <h2 class="login-title">Login with Google</h2>
            <div class="social-login">
                <a href="{% provider_login_url 'google' %}" class="btn btn-google">Login with Google</a>
            </div>
        </div>
    </div>
</body>
</html>
